.empControls{
 width:100%;
 padding:5%;   
}
.empControls > *{
    width: 100%;
}
.myPadding{
    padding-bottom:10px;
}
mat-radio-group mat-radio-button{
margin-left: 5px;
}

.buttonRow button{
    margin:5px;
}
.btn-dialog-close{
    width: 45px;
    min-width:0px !important;
    height: 40px;
    padding: 0px !important;
}
.fillSpace{
    flex: 1 1 auto;
}